body {
    font-family: Arial, sans-serif; /* Corrigido */
    background-color: rgb(197, 195, 195); /* Corrigido */
}

.logo {
    text-align: center;
    margin-top: 50px;
}

.logo img {
    max-width: 200px; /* Corrigido */
}

.container {
    margin-top: 30px;
}

/* Estilização do formulário */
.form-container { /* Corrigido */
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #999999ea;
    border-radius: 8px;
}

.imagem-redonda {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Alternativa mais simples */
}
